# This .env.example is just for example purpose, create a .env file and fill in those respected values
# inorder for the application to run!


# BASIC

APPNAME=UltimateStarter

# DATABASE

MONGO_URI=mongodb://USER:PASS@HOST:$PORT/DB_NAME

# SERVER

DOMAIN_V1=localhost:8081/api/v1

# REDIRECT URL - FRONTEND

REDIRECT_URL=REDIRECT_URL

# MAILER

MAILGUN_KEY=MAILGUNAPI_KEY
MAILGUN_DOMAIN=MAILGUN_DOMAIN

NODE_MAILER_USER=NODE_MAILER_USER
NODE_MAILER_PASS=NODE_MAILER_PASS

MAIL_FROM_HEADER=APPNAME
MAIL_TO=EMAIL_ID

# SECRETS
SESSION_SECRET=SOMERANDOMSECRET
JWT_SECRET=SOMERANDOMJWTSECRET
